<div class="container">
    <div class="row">
       CLIENTE <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ITEM</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">PRODUCTO</th>
                <th scope="col">PRECIO</th>
                <th scope="col">IMPORTE</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
              </tr>

            </tbody>
          </table>
    </div>
</div>