.precio{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: xx-large;
    color: white;
}