<div class="container login-container" style="max-width: 500px;">
    <div class="row">
        <div class="container">
            <div class="col login-form-2">
                <h3>INICIAR SESION</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario *" [(ngModel)]="usuario.username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña *" [(ngModel)]="usuario.password" />
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-submit"  (click)="login()">Login</button>
                    </div>
            </div>
        </div>
    </div>
</div>